@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #3f3752;
}
.container {
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.container .serviceBox {
  position: relative;
  width: 350px;
  height: 280px;
  background: #51446e;
  border-radius: 20px;
  overflow: hidden;
}
.container .serviceBox .icon {
  position: absolute;
  top: 0;
  left: 0;
}
