@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #efefef;
}
.parents{
  background-color: white;
  max-width: 540px;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid #ddd;
}
.item{
  background-color: #999;
  margin: 20px;
  padding: 20px;
  color: white;
  font-size: 40px;
}
h1{
  padding-left: 20px;

}
.item:nth-of-type(3){
  background-color: orangered;
}
.item:nth-child(2n+1){
  /* 형제 사이의 순서, 인덱스는 1부터 */
  background-color: yellow;
  color: #111;
}