@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e3f2fd;
}
.container {
  width: 750px;
  background: #fff;
  border-radius: 10px;
  padding: 30px 35px 35px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.container h2 {
  font-size: 22px;
  font-weight: 500;
}
.container .wrapper {
  display: flex;
  margin: 20px 0;
  min-height: 355px;
}
.wrapper .editor-panel {
}
