*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body{
    background-color: #f0f0f0;
}
.post-container{
    margin: 130px;
}
.post-container .post{
    width: 300px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    margin: 0 auto;
    padding-bottom: 20px;
}
.post-container .post .image img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    /* <img> 나 <video> 요소와 같은 대체 요소의 콘텐츠 크기를 
        어떤 방식으로 조절해 요소에 맞출 것인지 지정 */
}
.post-container .post .content{
    padding: 0 20px;
}
.post-container .post .content .date{
    margin: 10px 0;
    font-size: 15px;
    color: #666;
}
.post-container .post .content .title{
    font-weight: 600;
    font-size: 22px;
    color: #333;
    text-transform: capitalize; /* 대문자 */
}
.post-container .post .content:hover .title{
    text-decoration: underline;
}
.post-container .post .content p{
    font-size: 14px;
    padding: 5px 0;
    color: #666;
}
.post-container .post .content .link{
    display: block;
    color: tomato;
    margin-top: 10px;
}
.post-container .post .content .link:hover{
    color: #333;
}